Repository voxpupuli/puppet-alternatives, pull requests merged in 2019-03, with the labels that each got.

#91 handle broken alternatives entries more gracefully
  lib/puppet/provider/alternative_entry/rpm.rb
  lib/puppet/provider/alternatives/rpm.rb
Labels: bug

#92 modulesync 2.5.1 & drop Puppet 4
  .github/CONTRIBUTING.md
  .github/PULL_REQUEST_TEMPLATE.md
  .msync.yml
  .travis.yml
  Gemfile
  Rakefile
  metadata.json
  spec/acceptance/nodesets/archlinux-2-x64.yml
  spec/default_facts.yml
Labels: backwards-incompatible

#93 release 3.0.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
