Repository voxpupuli/puppet-alternatives, pull requests merged in 2021-09, with the labels that each got.

#115 Add support for Debian 11, Ubuntu 18.04 and 20.04
  metadata.json
Labels: enhancement

#112 Drop support for Debian 8, 9; RedHat 6 and derivatives (EOL)
  metadata.json
Labels: backwards-incompatible

#113 Drop support for Puppet 5 (EOL)
  metadata.json
Labels: backwards-incompatible

#114 Add support for Puppet 7
  metadata.json
Labels: enhancement

#116 modulesync 4.20.0
  .editorconfig
  .github/CONTRIBUTING.md
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .gitignore
  .msync.yml
  .overcommit.yml
  .pmtignore
  .rspec
  .rspec_parallel
  .rubocop.yml
  .yardopts
  Dockerfile
  Gemfile
  Rakefile
Labels: modulesync
