Repository voxpupuli/puppet-alternatives, pull requests merged in 2024-09, with the labels that each got.

#154 drop support for EL7
  metadata.json
Labels: backwards-incompatible

#156 Drop EoL Debian 10 support
  .github/workflows/ci.yml
  .github/workflows/labeler.yml
  .github/workflows/release.yml
  .msync.yml
  .pmtignore
  Gemfile
  metadata.json
Labels: backwards-incompatible

#153 modulesync 9.3.0
  .github/workflows/ci.yml
  .github/workflows/labeler.yml
  .github/workflows/release.yml
  .msync.yml
  .pmtignore
  Gemfile
Labels: modulesync

#158 Add Ubuntu 24.04 support
  metadata.json
Labels: enhancement

#157 Drop EoL Ubuntu 18.04 support
  metadata.json
Labels: backwards-incompatible

#159 switch from legacy to structured facts
  lib/puppet/provider/alternative_entry/chkconfig.rb
  lib/puppet/provider/alternative_entry/dpkg.rb
  lib/puppet/provider/alternatives/chkconfig.rb
  lib/puppet/provider/alternatives/dpkg.rb
  lib/puppet/type/alternatives.rb
  spec/unit/type/alternatives_spec.rb
Labels: enhancement

#160 Release 6.0.0
  CHANGELOG.md
  README.md
  metadata.json
Labels: skip-changelog
